
        body {
        
      background-color:white;
        
        }

.page_name h2 {
     font-family:FF Meta Serif;

    text-align:center;
    font-size:24px;

}

.example3 {
    display:inline-block;   
    position:relative;
}
.example3 .example_text {
      font-family:FF Meta Serif;
    display:block;
    position:absolute;
    left:0;
    
    top:0;
    width:100%;
   
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
         
    padding:10px;
    background-color:rgba(0,0,0,0.3);
 
     
}
.example3 h6 {
      
    font-family:FF Meta Serif;
    font-size:28px;
            font-size: 3vw; 
}
.example3 span {  
 font-style:italic;
    font-size:18px; 
        font-family:FF Meta Serif;
         margin-top:-10px;
}

.info{
margin: 10px;


    font-family:FF Meta Serif;
text-align:justify;
font-size:18px;
color: #000;
}